.addmovie-box{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background-color: rgba(189,189,189,0.9);
}
.addmovie-form{
    border-radius: 1%;
    border:3px solid white;
    position: fixed;
    background-color:darkslategray;
    margin-left: 23%;
    margin-top: 2%;
    width: 52%;
    height: 62%;
    overflow: auto;
}
.input{
    font-size:larger;
}
span{
    font-size:1.8em;
}
.input1{
    margin-left: 2.6em;
}
.input2{
    margin-left: 5.2em;
}
.input3{
    margin-left: .6em;
    width: 60%;
}
.input4{
    margin-left: 2.3em;
}
.input5{
    margin-left: 9em;
    height: 2em;
}
.button{
    position: relative;
    top: 1em;
    left: 9em;
    width: 40%;
    height: 10%;
    font-size:x-large;
    color: black;
    background-color: cornsilk;
}
h3{
    font-size: 3em;
    text-align: center;
    color:whitesmoke;
}
@media (max-width:1134px){
    .addmovie-form{
        width: 80%;
        height:20px; 
        margin-left: 10%;
        height: 80%;
    }
    .button{
        width: 50%;
        height: 40%;
        margin-left: 60%;
    }  
}